// Base Colors
$white: #FFF;
$black: #000;
$slgray: #F5F5F5;
$lgray: #EFEFEF;
$gray: #E0E0E0;
$bg: #E1E1E1;
$dgray: #121212;

// Theme Colors
$orange: #CC6626;
$coal: #383838;

// Main Colors
$background: $bg;
$primary-color: $orange;
$text-color: $white;
$secondary-color: $coal;

// General
$border-radius-normal: 2px;
