/*.animated {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	animation-fill-mode: both;
}

.animated.infinite {
	animation-iteration-count: infinite;
}

.animated.hinge {
	animation-duration: 2s;
}*/

@keyframes fadeInLeftTwo {
  0% {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeInLeftTwo {
	0%{ 
		opacity: 0;
		transform: translate3d(-10%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
@-moz-keyframes fadeInLeftTwo {
	0%{ 
		opacity: 0;
		transform: translate3d(-10%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
@-o-keyframes fadeInLeftTwo {
	0%{ 
		opacity: 0;
		transform: translate3d(-10%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
@keyframes fadeInLeftTwo {
	0%{ 
		opacity: 0;
		transform: translate3d(-10%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.fadeInLeftTwo {
	-webkit-animation: fadeInLeftTwo;
	-moz-animation: fadeInLeftTwo;
	-o-animation: fadeInLeftTwo;
	animation: fadeInLeftTwo;
}
.form-ink{
	overflow: hidden;
	position: relative;
}
.ink {
	display: block;
	position: absolute;
	background: rgba(0,0,0,0.1);
	border-radius: 100%;
	transform: scale(0);
}
.ink.animate {
	-webkit-animation: ripple 0.65s linear;
	-moz-animation: ripple 0.65s linear;
	-o-animation: ripple 0.65s linear;
	animation: ripple 0.65s linear;
}
.dropzone-hover{
	overflow: hidden;
	position: relative;
	background: $primary !important;
	@include border-radius($border-radius !important);
	@include box-shadow(0 2px 5px rgba(0,0,0,0.3));
	-webkit-transform: scale(1.05, 1.2);
	-moz-transform: scale(1.05, 1.2);
	-o-transform: scale(1.05, 1.2);
	transform: scale(1.05, 1.2);
	@include transition(all 0.1s linear);
	z-index: 999;
}
@-webkit-keyframes ripple {
	100%{
		opacity: 0;
		transform: scale(2.5);
	}
}
@keyframes ripple {
	100%{
		opacity: 0;
		transform: scale(2.5);
	}
}